<div>
  <h1 class="title2">Welcome, administrator</h1>
  <p class="account-message2">These are the bicycles that are in the system:</p>

  <ul>
    {{#each bikes as |bike|}}
    <li class="list3">
      {{bike._id}} creada por Ubike 
    </li>
    <br>
    {{/each}}
  </ul>
  <div>
      <a class="add" href="/map/private">Add a new bike</a>
     </div>
</div>
