<div>
  <div class="part1">
    <div>
      <h1 class="title">{{title}}</h1>
      <p class="subtitle">The easiest way to move around.</p>
      <div class="store">
        <img class="stores" src="/images/google-chplay.png" alt="google">
        <img class="stores" src="/images/logo-app_store.png" alt="apple">
      </div>
    </div>
  </div>
  <div class="part2">
    <div class="title3">
      <h1 class="sub1">Transport has never been easier</h1>
      <p class="word">Use your Ubike app to find one of our bicicles near you</p>
    </div>
    <div>
      <img class="phone" src="/images/phone.png" alt="phone">
    </div>
  </div>
  <div class="part3">
    <div class="adjust">
      <h1 class="sub2">With more features to discover</h1>
      <p class="subtitle2">Use one of the best user experiences in the market</p>
    </div>
  </div>
  <div class="part4">
    <div>
      <img class="bici" src="/images/rachel-martin.jpg" alt="bici">
    </div>
      <div class="bolitas">
        <div>
          <h1 class="sub3">Por que somos mejores?</h1>
          <div class="uk-position-small uk-ligh" uk-slideshow>
            <ul class="uk-slideshow-items">
              <li>
                  <p>Somos bien verguitas</p>
              </li>
              <li>
                  <p>Una eminencia</p>
              </li>
              <li>
                   <p>Impreshionanti</p>
              </li>
          </ul>
          <div>
            <ul class="lista2 uk-dotnav">
              <li uk-slideshow-item="0"><a>Item 1</a></li>
              <li uk-slideshow-item="1"><a>Item 2</a></li>
              <li uk-slideshow-item="2"><a>Item 3</a></li>
            </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
