<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>{{title}}</title>
 <!-- UIkit CSS -->
 <link href="https://fonts.googleapis.com/css?family=Oxygen" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
<script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>
<script
    src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.css'
    type='text/css' />

<script
    src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.min.js'></script>
<link rel='stylesheet'
    href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v3.1.6/mapbox-gl-geocoder.css'
    type='text/css' />
<link rel="stylesheet" href="/stylesheets/style.css" />
<script
   src='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />
<link rel='stylesheet'
   href='https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-directions/v3.1.3/mapbox-gl-directions.css'
   type='text/css' />
</head>
<body>
{{#if auth }}
<div class="navbar2 uk-position-relative uk-navbar">

   <nav uk-navbar="dropbar: true; dropbar-mode: push">

       <div class="uk-navbar-left">

           <ul class="uk-navbar-nav">
               <li>
                   <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#"></a>
                   <div class="navbar2 uk-navbar-dropdown">
                       <ul class="uk-nav uk-navbar-dropdown-nav">
                           <li class="letra"><a href="/map">Menu</a></li>
                           <li class="letra"><a href="/user/perfil">Profile</a></li>
                           {{#if auth}}
                           <li class="letra"><a href="/map/admin">Administrator</a></li>
                           {{/if}}
                           <li class="letra"><a href="/auth/logout">Logout</a></li>
                       </ul>
                   </div>
               </li>
           </ul>
       <a class="small uk-navbar-item uk-logo" href="/map">Ubike</a>
       <div class="uk-navbar-center"><div>
       </div>
       </div>
    </div>
   </nav>
</div>
{{else}}
 <nav class="black" uk-navbar>
   <div class="uk-navbar-center ">
       <div class="uk-navbar-center-left "><div>
           <ul class="uk-navbar-nav">
               <li class="small"><a class="cols" href="/">Home</a></li>
           </ul>
           <ul class="uk-navbar-nav">
               <li class="small"><a class="cols" href="/auth/login">Login</a></li>

           </ul>
       </div></div>
       <a class="small uk-navbar-item uk-logo" href="/">Ubike</a>
       <div class="uk-navbar-center-right"><div>
           <ul class="uk-navbar-nav">
               <li class="small"><a class="cols" href="/auth/signup">Signup</a></li>
               <li class="small"><a class="cols" href="/auth/logout">Logout</a></li>
           </ul>
       </div></div>

   </div>
</nav>


{{/if}}


 {{{body}}}

 <!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
<script src="/javascripts/script.js"></script>
</body>
</html>