<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>{{title}}</title>
 <!-- UIkit CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/css/uikit.min.css" />
<link rel="stylesheet" href="/stylesheets/style.css" />
</head>
<body>

 <nav uk-navbar>
   <div class="uk-navbar-center ">
       <div class="uk-navbar-center-left "><div>
           <ul class="uk-navbar-nav">
               <li><a class="cols" href="/">Home</a></li>
           </ul>
           <ul class="uk-navbar-nav">
               <li><a class="cols" href="/auth/login">Login</a></li>

           </ul>
       </div></div>
       <a class="uk-navbar-item uk-logo" href="/">Logo</a>
       <div class="uk-navbar-center-right"><div>
           <ul class="uk-navbar-nav">
               <li><a class="cols" href="/auth/signup">Signup</a></li>
               <li><a class="cols" href="/auth/logout">Logout</a></li>
           </ul>
       </div></div>

   </div>
</nav>

 {{{body}}}

 <!-- UIkit JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.3/js/uikit-icons.min.js"></script>
<script src="/javascripts/script.js"></script>
</body>
</html>