<h1>Welcome, administrator</h1>

<form action="map/new" method="POST">
  <div>
    <label for="">
      Latitud:
      <input type="number" name="latitud">
    </label>
  </div>
  <div>
    <label for="">
      Longitud:
      <input type="number" name="longitud">
    </label>
  </div>
  <button type="submit">Add bycicle</button>
</form>
