{{#each bikes as |bike|}}
{{bike.position.coordinates}}
{{/each}}


<div id="map" style="width: 100%; height: 100vh;"></div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
  let bikes = [];
  mapboxgl.accessToken =
    "pk.eyJ1IjoiY3J1c2VkbW9zcyIsImEiOiJjanUwYWJpcTIwMGlxNDRxbnVrbzRlZ2ZwIn0.JFaXPkdL0AJ7Vbtyc8lD4A";
  var map = new mapboxgl.Map({
    container: "map",
    style: "mapbox://styles/mapbox/streets-v11"
  });
  map.addControl(
    new MapboxDirections({
      accessToken: mapboxgl.accessToken
    }),
    "top-left"
  );

 axios.get("http://localhost:3000/map/json")
    .then(res => {
      console.log(res)
        const bikes = res.data.bike;
        console.log(bikes)
        {{!-- console.log(bikes.position.coordinates.reverse()) --}}



        {{!-- var bikecoordinates = res.data.bikes.position.coordinates.reverse();
        console.log(bikecoordinates) --}}

        bikes.forEach (bike => {
          console.log(bike.position.coordinates);
          {{!-- let popup = new mapboxgl.Popup().setText(bike._id)
          new mapboxgl.Marker().setLngLat(bike.position.coordinates.reverse()).setPopup(popup).addTo(map)
           --}}
          map.on('load', function () {
          // Add a layer showing the places.
             map.addLayer({
            "id": "places",
            "type": "symbol",
            "source": {
                "type": "geojson",
                "data": {
                    "type": "FeatureCollection",
                    "features": [{
                      "type": "Feature",
                      "properties": {
                        "description": "<strong>Seersucker Bike Ride and Social</strong><p>Feeling dandy? Get fancy, grab your bike, and take part in this year's <a href=\"http://dandiesandquaintrelles.com/2012/04/the-seersucker-social-is-set-for-june-9th-save-the-date-and-start-planning-your-look/\" target=\"_blank\" title=\"Opens in a new window\">Seersucker Social</a> bike ride from Dandies and Quaintrelles. After the ride enjoy a lawn party at Hillwood with jazz, cocktails, paper hat-making, and more. 11:00-7:00 p.m.</p>",
                        "icon": "bicycle"
                          },
                      "geometry": {
                        "type": "Point",
                        "coordinates": bike.position.coordinates.reverse()
                      }
                    }]
                }
            },
            "layout": {
                "icon-image": "{icon}-15",
                "icon-allow-overlap": true
              }
        });
        map.on('click', 'places', function (e) {
          var coordinates = 
            e.features[0].geometry.coordinates.slice();
          var description = 
            e.features[0].properties.description;
          
          {{!-- // Ensure that if the map is zoomed out such that multiple
          // copies of the feature are visible, the popup appears
          // over the copy being pointed to.
          while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
          coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
          } --}}
          
          new mapboxgl.Popup()
          .setLngLat(coordinates)
          .setHTML(description)
          .addTo(map);
          });

          console.log(bike.position.coordinates.reverse());
          
          // Change the cursor to a pointer when the mouse is over the places layer.
          map.on('mouseenter', 'places', function () {
          map.getCanvas().style.cursor = 'pointer';
          });
          
          // Change it back to a pointer when it leaves.
          map.on('mouseleave', 'places', function () {
          map.getCanvas().style.cursor = '';
          });
        });      
    })
  });

</script> 